@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Lato:ital,wght@1,700&family=Open+Sans:ital,wght@0,800;1,400&family=Playfair+Display:wght@500&family=Work+Sans:wght@400;500;600;700;800&family=Zilla+Slab:ital,wght@1,700&display=swap');
/* shared styles */

* { margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;

}
.primary-button{
    color: #FFF;
    background: #FF900E ;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    margin: 30px 0;
}

/* header styles */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 40px 220px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 40px;
    font-weight: 500;
    font-size: 1em;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */

.banner-content{
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700px;
}
.banner-description{
    color: #727272;
}
.banner img{
    width: 100%;
}

/*  main styles */

main{
    max-width: 1440px;
    margin: 70px auto;
}
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;
}
.teams-content{
    padding: 0 70px;
}
.teams-title{
    font-size: 2.8rem;
}
.teams-title .quick-list{
    color: #727272;
    font-weight: 500;
}
.teams-title .text-feature{
    color: #FF900E;
    font-weight: 700;
}
.teams-description{
    margin: 1.5rem 0;
    color: #727272;
    font-size: 1rem;
    font-weight: 400;

}




/* responsive media styles */

/*  mobile devices */

@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .teams-container{
        flex-direction: column-reverse;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content{
        padding: 0 20px;
    
    }
}
/* tablets or medium devices  */

@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 40px;
    }
    nav{
        flex-direction: column;
    }
    .teams-container{
        flex-direction: column-reverse;
    }
}